.nunito-normal {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.HomepageMainBody p {
    margin: 0px;
}
.LogoContainer {
    min-height: 30vh;
    line-height: 30vh;
    background-color: violet;
    text-align: center;
}
.LogoContainer p {
    font-size: 10vw;
    display: inline-block;
    vertical-align: middle;
}

.ProjectsContainer {
    background-color: #a9f2cd;
    height: 120px;
    width: 95vw;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px auto;
}

.Card {
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 8px;
    border-radius: 24px;
    display: block;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.Card img {
    background-color: #00a474;
    border-radius: 50%;
    object-fit: contain;
    max-width: 70%;
}
.Card:hover {
    cursor: pointer;
}