.nunito-normal {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.HomepageMain {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.HomepageMainBody p {
    margin: 0px;
}
.LogoContainer {
    min-height: 30vh;
    line-height: 30vh;
    background-color: wheat;
    text-align: center;
}
.LogoContainer p {
    font-size: 10vw;
    display: inline-block;
    vertical-align: middle;
}

.ProjectsContainer {
    margin: 10px auto;
    background-color: #a9f2cd;
    height: 120px;
    width: 95vw;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.ExploreContainer {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 95vw;
    overflow: auto;
}

.Card {
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 8px;
    border-radius: 24px;
    display: block;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.Card img {
    background-color: #00a474;
    border-radius: 50%;
    object-fit: contain;
    max-width: 70%;
}
.Card:hover {
    cursor: pointer;
}

.ExploreCard {
    border-radius: 16px;
    margin: 8px;
    padding: 16px;
    width: 200px;    
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-color: lightblue;
    transition: width 0.3s ease;
    text-align: left;
}
.ExploreCard .contents img {
    width: 50px;
}

.ExploreCard:hover {
    width: 300px
}
